$mobile_break: "screen and (min-width: 500px) ";
$smartphone_break: "screen and (min-width: 768px)";
$tablet_break: "screen and (min-width: 992px)";
$netbook_break: "screen and (min-width: 1280px)";
$laptop_break: "screen and (min-width: 1440px)";
$hd_break: "screen and (min-width: 1920px)";