#formation .pitch{
    width: 100%;
    background-image: url(images/pitch.png);
    position: relative;
    background-color: #006600;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 139%;
    .formation{
        position: absolute;
        height: 100%;
        width: 100%;
        .line{
            height: 25%;
            padding: 20px 0;
            text-align: center;
        }
        .player{
            @include border-radius(10px);
            width: 17%;
            height: 100%;
            padding: 5px;
            margin: 0 10px;
            background-color: rgba(100,200,100,0.5);
            display:-moz-inline-stack;
            display:inline-block;
            zoom:1;
            *display:inline;
            vertical-align: middle;

            .picture{
                width: 100%;
                img{
                    min-width: 100%;
                }
            }
            .name{
                display: none;
            }
            .stats{
                padding-top: 6px;
                h5,label{
                    display: none;
                }
                i{
                    margin-right: 5px;
                }
                .progress{
                    margin-bottom: 6px;
                }
            }
        }
        .hovered{
            background-color: rgba(255,100,100,0.5);
        }
    }
}