
.fa-fitness:before                { content: "\f0fe"; }
.fa-skills:before                 { content: "\f140"; }
.fa-popularity:before             { content: "\f005"; }
.fa-charisma:before               { content: "\f004"; }

#roster .stats{
    min-width: 200px;
}

.log{
    padding: 10px;
}