#matchLog{
    padding: 15px;
}
.summary{
    padding: 5px;
}
.controls{
  height: 50px;
  padding-bottom: 10px;
}
.log{
  font-size: 16px;
  .row {
    .alert{
      padding: 5px;
    }
    .info{
      text-align: center;
    }
    > div{
      position: relative;
    }
    .element{
      display: inline;
      padding: 3px;
      img{
        padding: 3px;
      }
      .message{
        margin: 5px;
      }
    }
    .element.message{
      width: 70%;
    }
    .minute{
      position: absolute;
      width: 10px;
      font-family: "Squada One";
      color: #069;
      font-size: 11px;
    }
    .right .minute{
      top: 4px;
      right: 4px;
    }
    .middle .minute{
      top: 4px;
      left: 4px;
    }
    .left .minute{
      top: 4px;
      left: 4px;
    }
    .col-lg-6 .element{
      float: right;
    }
    .col-lg-offset-6 .element{
      float: left;
    }
    .info .element{
      float: none;
    }
  }
  .large{
    font-size: 180%;
  }
}
.score{
    font-size: 72px;
    font-family: "Squada One";
    text-align: center;
}

.log .row .col-lg-6,.summary .row .col-lg-6{
  text-align: right;
}
.log .row .col-lg-offset-6,.summary .row .col-lg-offset-6{
  text-align: left;
}


#match .pitch{
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b9/Soccer_field_-_empty.svg);
    position: relative;
    padding-bottom: 64%;
    background-color: #006600;
    background-repeat: no-repeat;
    background-size: 100%;
  .player{
    position: absolute;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    margin-left: -30px;
    margin-top: -45px;
    z-index: 80;
  }
  .ball{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(../../public/css/images/ball.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 90;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}