#formation .pitch{
    width: 539px;
    height: 750px;
    background-image: url(images/pitch.png);
}
#formation .pitch .formation{
    padding: 50px;
}
#formation .pitch .line{
    height: 165px;
    padding: 20px 0;
    text-align: center;
}
#formation .pitch .player{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 90px;
    height: 120px;
    padding: 5px;
    margin: 0 3px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    background-color: rgba(255,255,255,0.3);
    vertical-align: top;
}
#formation .pitch .player .picture{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#formation .pitch .player .name{
    height: 50px;
    display: inline-block;
}
#formation .pitch .hovered{
    background-color: rgba(255,100,100,0.5);
}


#match .pitch{
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b9/Soccer_field_-_empty.svg);
    position: relative;
    min-height: 200px;
    background-color: #006600;
    background-repeat: no-repeat;
    background-size: 100%;
}
#match .pitch .player{
    position: absolute;
}
#match .pitch .ball{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(images/ball.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 90;
}
#match .pitch .player{
    position: absolute;
    margin-left: -30px;
    margin-top: -45px;
    z-index: 80;
}