.power .progress-bar{
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.accuracy .progress-bar{
    -webkit-transition: width 0.5s linear;
    transition: width 0.5s linear;
    background: none;
    border: none;
    box-shadow: none;
    border-right: 5px solid #F00;
}

#skillContainer .progress{
  margin-left: 90px;
  height: 45px;
  border: 1px solid #999;
}

#skillgame{
  .background{
    background-image: url(images/penalty.jpg);
    width: 450px;
    height: 430px;
    position: relative;
  }
  .ball{
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 90;
    img{
      position: absolute;
    }
  }
  .player{
    position: absolute;
    z-index: 100;
  }
  .goal{
    width: 350px;
    height: 140px;
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -175px;
    .target{
      width: 33%;
      height: 50%;
      float: left;
      position: relative;
      cursor: pointer;
      .keeper{
        text-align: center;
      }
    }
    .target:hover{
      background-color: rgba(50,150,50,0.5);
    }
  }
}