// BODY
$bg_colour: #000;

$font-family: "Nexa";
$font_colour: #000;
$font_weight: 300;
$font_size: 14; // pixels

// LINKS
$link_colour: #999;
$link_hover_colour: #CCC;

// TITLES
$h_font_family: "Nexa";

$h1_colour: #222;
$h2_colour: #444;
$h3_colour: #666;

$h1_margin_bottom: 30px;
$h2_margin_bottom: 20px;
$h3_margin_bottom: 10px;

// BUTTONS
$btn_background: #EEE;
$btn_border: 1px solid #DDD;
$btn_padding: 5px 10px;
$btn_radius: 15px;
$btn_min_width: 120px;