@import "compass/css3";

$fa-font-path: "/bower_components/components-font-awesome/fonts";
@import 'components-font-awesome/scss/font-awesome';

@import '_mixins';
@import '_breakpoints';
@import '_variables';

@import url(http://fonts.googleapis.com/css?family=Squada+One);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto);

@import '_game';
@import '_match';
@import '_pitch';
@import '_formation';
@import '_ranking';
@import '_roster';
@import '_skillgame';

/* --------------------------------------------------------------- */
/* ---------------------  GENERAL STYLES ------------------------- */
/* --------------------------------------------------------------- */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

$global-header-height: 10rem;
$global-footer-height: 10rem;

