application/configs/environment.ini
application/modules/frontend/views/scripts/layout.phtml

app/bower_components/

.tmp/
error_log
logs
cache/*
cache/images/*
cache/pages/*
data/*
public/images/uploaded/*
backup*
node_modules/
public/scripts/
public/styles/
public/*.html
public/images/*
public/bower_components/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

node_modules/*
temp/*

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Espresso
*.esproj
*.espressostorage

# Rubinius
*.rbc

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
