#matchLog{
    padding: 15px;
}
.summary{
    padding: 5px;
}
.log{
    font-size: 16px;
}
.log .row .alert{
    padding: 5px;
}
.log .row .col-lg-6{
    text-align: right;
}
.log .row .col-push-6{
    text-align: left;
}
.log .row .info{
    text-align: center;
}
.log .row > div{
    position: relative;
}
.log .row .element{
    display: inline;
    padding: 3px;
}
.log .row .minute{
    position: absolute;
    width: 10px;
    font-family: "Squada One";
    color: #069;
    font-size: 11px;
}
.log .row .right .minute{
    top: 4px;
    right: 4px;
}
.log .row .middle .minute{
    top: 4px;
    left: 4px;
}
.log .row .left .minute{
    top: 4px;
    left: 4px;
}
.log .row .element.message{
    width: 70%;
}
.log .row .col-lg-6 .element{
    float: right;
}
.log .row .col-push-6 .element{
    float: left;
}
.log .row .info .element{
    float: none;
}
.log .row .element img{
    padding: 3px;
}
.log .row .element .message{
    margin: 5px;
}

.score{
    font-size: 72px;
    font-family: "Squada One";
    text-align: center;
}
.log .large{
    font-size: 180%;
}


#match .pitch{
    background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/b9/Soccer_field_-_empty.svg);
    position: relative;
    padding-bottom: 64%;
    background-color: #006600;
    background-repeat: no-repeat;
    background-size: 100%;
}
#match .pitch .player{
    position: absolute;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
#match .pitch .ball{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(images/ball.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 90;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
#match .pitch .player{
    position: absolute;
    margin-left: -30px;
    margin-top: -45px;
    z-index: 80;
}